/__pycache__
*.xml
*.iml
*.pyc
/.DS_Store
.DS_Store
/images
/texts
/data
second/mlearning/data/
second/mlearning/runs/detect/train1
second/mlearning/runs/detect/train2
second/mlearning/runs/detect/train3
second/mlearning/runs/detect/train4
second/mlearning/runs/detect/train5
second/mlearning/runs/detect/train6
second/mlearning/runs/detect/train7
second/mlearning/runs/detect/train8
second/mlearning/runs/detect/train9
second/mlearning/runs/detect/train11
